/*fundo do site*/
html{
    background-color: white;
}

body {
    margin: 0px;
    width: 100%;
    align-items: center;
}

/*logo do canto*/
.menu img{
    width: 3%;
    position: fixed;
    left: 10px;
    top: 7px;
}

/*barra de menu superior*/
.menu{
    position: fixed;
    opacity: 90%;
    top: 0;
    left: 0;
    width:100%;
    color:white;
    background-color: black;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    padding: 15px;
}


/*links do menu*/
.menu a{
    color: white;
    text-decoration: none;
}
.menu a:hover{
    color: #00F5FF;
    text-decoration: underline;
}


/*banner no topo da pagina*/
.banner{
	width:100%;
	display: block;
}
.banner img{
	width: 100%;
	display: block;
}

/*links de referencia*/
.LinksReferencia h1{
	text-align: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 15px;
    border-bottom: 2px solid #4F4F4F;
    font-weight: normal;
    margin-left: 300px;
    margin-right: 300px;
}
.Linksreferencia p{
	text-align: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 15px;
    font-weight: normal;
    margin-left: 300px;
    margin-right: 300px;
    text-decoration: none;
}
.LinksReferencia a{
	text-align: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 15px;
    font-weight: normal;
    margin-left: 300px;
    margin-right: 300px;
    text-decoration: none;
}
.LinksReferencia a:hover{
    color: #00F5FF;
    text-decoration: underline;
}